In [67]:
import requests
import pandas as pd

In [68]:
#API Banxico
banxico_key = "85c8edeab72128102cdad764f0a2d4532c336d22690a51104b500fb6f077ed4c"

In [69]:
url = "https://www.banxico.org.mx/SieAPIRest/service/v1/series/"

In [70]:
#Serie recursos totales Cartera de credito SF315015
# Serie de fondeo SF283
#Total series
Series = "SF283"

In [71]:
#Fechas AAAA-MM-dd
#fecha_inicial = input(print("Fecha inicial consulta AAAA-MM-dd"))
fecha_inicial = "1990-01-01"
fecha_final = "2019-12-31"
#fecha_final = input(print("Fecha final consulta AAAA-MM-dd"))

In [72]:
url_consulta = f"{url}{Series}/datos/{fecha_inicial}/{fecha_final}?token={banxico_key}"

In [73]:
data = requests.get(url_consulta).json()
clean_data = data['bmx']['series'][0]['datos']
data_df = pd.DataFrame(clean_data)
data_df

          fecha   dato
0    01/03/1995  89.48
1    01/04/1995  85.22
2    01/05/1995  60.45
3    01/06/1995  49.50
4    01/07/1995  43.00
..          ...    ...
293  01/08/2019   8.37
294  01/09/2019   8.20
295  01/10/2019   8.00
296  01/11/2019   7.87
297  01/12/2019   7.70

[298 rows x 2 columns]

In [74]:
data_df.dtypes

fecha    object
dato     object
dtype: object

In [75]:
#CSV CNV Historico Hipotecarios
csv_file = "credito_hipotecario.csv"
customer_data_df = pd.read_csv(csv_file, header = None)
#customer_data_df.tail()
customer_data_df = customer_data_df.rename(columns={0:"Date", 1:"Loan_count", 2:"Total_loans"})
customer_data_df
#ok Poner titulo a columnas. dates, loan_counts, total_loans
#ok cambiar formato fecha igual al del DF de arriba
#  sort ascendente de fechas
#customer_data_df['average_tkt'] = data['total_loans'] / data['loan_counts']

        Date Loan_count          Total_loans
0    2019121    986,080  $760,585,413,424.00
1    2019111    984,049  $754,828,505,900.00
2    2019101    979,639  $747,580,072,767.00
3    2019091    976,927  $741,998,311,431.00
4    2019081    974,612  $736,315,276,669.00
..       ...        ...                  ...
121  2009111    561,130  $276,920,395,974.00
122  2009101    529,373  $260,501,899,402.00
123  2009091    528,115  $258,170,933,813.00
124  2009081    522,014  $253,667,372,857.00
125  2009071    535,473  $258,325,877,604.00

[126 rows x 3 columns]

In [76]:
customer_data_df["Date"] = customer_data_df["Date"].astype(str) 
customer_data_df["Date"] = "0" + customer_data_df["Date"].str.slice(start=6)  + "/" + customer_data_df["Date"].str.slice(start=4, stop=6) + "/" + customer_data_df["Date"].str.slice(start=0, stop=4)   
customer_data_df

           Date Loan_count          Total_loans
0    01/12/2019    986,080  $760,585,413,424.00
1    01/11/2019    984,049  $754,828,505,900.00
2    01/10/2019    979,639  $747,580,072,767.00
3    01/09/2019    976,927  $741,998,311,431.00
4    01/08/2019    974,612  $736,315,276,669.00
..          ...        ...                  ...
121  01/11/2009    561,130  $276,920,395,974.00
122  01/10/2009    529,373  $260,501,899,402.00
123  01/09/2009    528,115  $258,170,933,813.00
124  01/08/2009    522,014  $253,667,372,857.00
125  01/07/2009    535,473  $258,325,877,604.00

[126 rows x 3 columns]

In [82]:
#customer_data_df['average_tkt'] = data['total_loans'] / data['loan_counts']
customer_data_df["average_tkt"]  = pd.to_numeric(customer_data_df["Total_loans"]) / pd.to_numeric(customer_data_df["Loan_count"])                          
customer_data_df

ValueError: Unable to parse string "$760,585,413,424.00" at position 0

In [ ]:
customer_data_df.sort_values(by="Date", ascending = False ) 
customer_data_df