In [26]:
import requests
import pandas as pd

In [27]:
#API Banxico
banxico_key = "85c8edeab72128102cdad764f0a2d4532c336d22690a51104b500fb6f077ed4c"

In [28]:
url = "https://www.banxico.org.mx/SieAPIRest/service/v1/series/"

In [69]:
#Serie recursos totales Cartera de credito SF315015
# Serie de fondeo SF283
#Total series
Series = "SF283"

In [70]:
#Fechas AAAA-MM-dd
#fecha_inicial = input(print("Fecha inicial consulta AAAA-MM-dd"))
fecha_inicial = "1990-01-01"
fecha_final = "2019-12-31"
#fecha_final = input(print("Fecha final consulta AAAA-MM-dd"))

In [71]:
url_consulta = f"{url}{Series}/datos/{fecha_inicial}/{fecha_final}?token={banxico_key}"

In [72]:
data = requests.get(url_consulta).json()
clean_data = data['bmx']['series'][0]['datos']
data_df = pd.DataFrame(clean_data)
data_df

          fecha   dato
0    01/03/1995  89.48
1    01/04/1995  85.22
2    01/05/1995  60.45
3    01/06/1995  49.50
4    01/07/1995  43.00
..          ...    ...
293  01/08/2019   8.37
294  01/09/2019   8.20
295  01/10/2019   8.00
296  01/11/2019   7.87
297  01/12/2019   7.70

[298 rows x 2 columns]

In [76]:
#CSV CNV Historico Hipotecarios
csv_file = "credito_hipotecario.csv"
customer_data_df = pd.read_csv(csv_file, header = None)
customer_data_df.tail()
#Poner titulo a columnas. dates, loan_counts, total_loans
#cambiar formato fecha igual al del DF de arriba
# Crear columna nueva ticket pro
#customer_data_df['tiket_promedio'] = data['total_loans'] / data['loan_counts']

           0        1                    2
121  2009111  561,130  $276,920,395,974.00
122  2009101  529,373  $260,501,899,402.00
123  2009091  528,115  $258,170,933,813.00
124  2009081  522,014  $253,667,372,857.00
125  2009071  535,473  $258,325,877,604.00