In [26]:
import requests
import pandas as pd

In [27]:
#API Banxico
banxico_key = "85c8edeab72128102cdad764f0a2d4532c336d22690a51104b500fb6f077ed4c"

In [28]:
url = "https://www.banxico.org.mx/SieAPIRest/service/v1/series/"

In [29]:
#Serie recursos totales Cartera de credito SF315015
# Serie de fondeo SF 283
#Total series
Series = "SF283"

In [30]:
#Fechas AAAA-MM-dd
#fecha_inicial = input(print("Fecha inicial consulta AAAA-MM-dd"))
fecha_inicial = "1990-01-01"
fecha_final = "2019-12-31"
#fecha_final = input(print("Fecha final consulta AAAA-MM-dd"))

In [31]:
url_consulta = f"{url}{Series}/datos/{fecha_inicial}/{fecha_final}?token={banxico_key}"

In [46]:
data = requests.get(url_consulta).json()
clean_data = data['bmx']['series'][0]['datos']
data_df = pd.DataFrame(clean_data)
data_df
#data_df = pd.read_json(data)

          fecha   dato
0    01/03/1995  89.48
1    01/04/1995  85.22
2    01/05/1995  60.45
3    01/06/1995  49.50
4    01/07/1995  43.00
..          ...    ...
293  01/08/2019   8.37
294  01/09/2019   8.20
295  01/10/2019   8.00
296  01/11/2019   7.87
297  01/12/2019   7.70

[298 rows x 2 columns]

In [ ]:

for query in url_consulta: 
    data=requests.get(query).json()
    fxt.append(data["bmx"]["series"][0]["datos"][0]["dato"])
    fxt_1.append(data["bmx"]["series"][0]["datos"][1]["dato"])